<div class="row">
    <div class="pull-right">
        <a href="/#/createAccount">Switch to create account</a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="row">
    <div class="center-block">
        <h2>Login</h2>

        <div class="has-error" ng-show="loginError != null">
            <span class="help-block">{{loginError}}</span>
        </div>
        <form class="form-horizontal" ng-submit="login(user)" name="loginForm" novalidate>
            <div class="form-group" ng-class="{'has-error': loginForm.login.$invalid && (loginForm.login.$touched)}">
                <label for="login" class="col-sm-4 control-label">Login</label>

                <div class="col-sm-4">
                    <input type="login" name="login" id="login" class="form-control" ng-model="user.login"
                           placeholder="Login"
                           ng-minlength="4" required>
                    <span class="help-block" ng-show="loginForm.login.$touched">
                        <span ng-show="loginForm.login.$error.required">Login is required</span>
                        <span ng-show="loginForm.login.$error.minlength">Login should have min 4 signs</span>
                    </span></div>
            </div>

            <div class="form-group"
                 ng-class="{'has-error': loginForm.password.$invalid && (loginForm.password.$touched)}">
                <label for="password" class="col-sm-4 control-label">Password</label>

                <div class="col-sm-4">
                    <input type="password" name="password" id="password" class="form-control" data-ng-model="password"
                           placeholder="Password" ng-minlength="6" required>
                    <span class="help-block" ng-show="loginForm.password.$touched">
                        <span ng-show="loginForm.password.$error.required">Password is required</span>
                        <span ng-show="loginForm.password.$error.minlength">Password should have min 6 signs</span>
                    </span></div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <button type="submit" id="loginButton" class="btn btn-primary" ng-disabled="loginForm.$invalid"
                            data-loading-text="Logging..." autocomplete="off">Login
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>